



<p>Show workers that were not at work on selected day</p>

  <mat-calendar [(selected)]="selected"></mat-calendar>
  <p>Selected date: {{selected}}</p>
  <button (click)="onSelectedDate()">Save</button>
  <mat-grid-list style="width:1000px" cols="6" rowHeight="100px" >
        <mat-grid-tile 
        *ngFor="let absence of Absences"
        [colspan]="2"
        [rowspan]="2">
        <app-absence 
          [FirstName]="absence.FirstName"
          [LastName]="absence.LastName" 
          [Timestamp]="absence.Timestamp"
          [AbsenceDefinitionName]="absence.AbsenceDefinitionName"
          >
        </app-absence>
</mat-grid-tile>
</mat-grid-list>
<button (click)="onRefresh()">Refresh</button>
