 <div class="content" role="main">
   
  <!-- Toolbar -->
    <div class="toolbar" role="banner" >
    
  
      <img
    height="40"
    width="40"

    alt="Work Attendance Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo4S5auGYxif5HUqWm-FII2bgi_xzyTJAapA&usqp=CAU"
      />
    <span >
    
    <a href="#" routerLink="/Home" routerLinkActive="active">Work Attendance</a></span>
    <div class="spacer"></div>
    <nav>
    <ul>

    <a href="#" routerLink="/Users" routerLinkActive="active" >Users&nbsp;</a>

    <a href="#" routerLink="/Absences" routerLinkActive="active">Absences&nbsp;</a>
    <a href="#" routerLink="/Settings" routerLinkActive="active">Settings&nbsp;&nbsp;</a>

    </ul>

      </nav>

    </div>

  <router-outlet></router-outlet>
</div>