<h1>Set authorisation data</h1>
<p>Here you can set your autorization data <br></p>
<form name="SaveForm" (ngSubmit)="onSave()">
    <div class="form-group" style="padding: 10px;">
        <label for="dataClientId">Client id:     </label>
        <input type="text"  name="dataClientId" [(ngModel)]="SaveForm.dataClientId" >
       
       
       
    </div>
    <div class="form-group">
        <label for="dataClientSecret">Client secret:     </label>
        <input type="text"  name="dataClientSecret" [(ngModel)]="SaveForm.dataClientSecret">
    </div>
    <div class="form-group">
        <br>
        <button >Save </button>
    </div>
</form>